<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>C:\Users\adao1\Documents\Git\MagicWorld\simulator\win32\MagicWorld.exe</StartProgram>
    <StartArguments>-workdir C:\Users\adao1\Documents\Git\MagicWorld -file src\main.lua</StartArguments>
    <StartWorkingDirectory>C:\Users\adao1\Documents\Git\MagicWorld</StartWorkingDirectory>
  </propertyGroup>
</Project>